body{
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  margin: 0;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

header{
  display: flex;
  padding: 5px;
  background-color: white;
  font-size: 1.5rem;
}

.logo{
  margin: auto 0;
  flex: 0;
}

.title{
  flex: 1;
  text-align: center;
}

.menu{
  min-height: 100vh;
  flex: 0 0 auto;
  background-color: #0f2c53;
}

.menu ul{
  list-style: none;
  margin: 0px 0px 10px;
  padding: 0;
}

.menu ul li{
  margin: 5px;
  background-color: #0933aa;
  border-radius: 5px;
}

.menu a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 5px 10px;
}

.page{
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer{
  padding: 15px 5px;
  font-size: .8rem;
  background-color: gainsboro;
  color: black;
}

footer p, address{
  margin: 2px 2px 0;
  text-align: center;
}

.copyright{
  display: flex;
  color: #585252;
  justify-content: space-around;
}

.content{
  flex: 1;
  padding: 0 10px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.content blockquote{
  font-size: 2rem;
  font-family: Helvetica;
  font-style: italic;
}

.flex{
  flex: 1;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
  text-indent: 2rem;
  padding: 0 10px;
}

#asterisco{
  color: red;
  font-weight: bolder;
}

#invitation{
  text-align: center;
}

table{
  text-align: center;
  margin: 10px;
  font-size: 1.1rem;
}

table caption{
  margin: 10px 0 5px;
}

table thead{
  color: white;
  background-color: black;
}

table thead tr th{
  border: 1px solid black;
}

table thead tr:last-child th:first-child{
  border-top-left-radius: 10px;
}

table thead tr:last-child th:last-child{
  border-top-right-radius: 10px;
}

table tbody tr:hover{
  background-color: cadetblue;
}

table tbody tr:nth-child(even){
  background-color: aqua;
}

table tbody tr td{
  border-bottom: 1px solid black;
}

table tbody tr:last-child td:first-child{
  border-bottom-left-radius: 10px;
}

table tbody tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}

table tr td:nth-child(1){
  text-align: left;
}

.contact-icons{
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
}

.contact-icons a{
  padding: 0 5px;
  text-indent: 0;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.contact-icons a img{
  padding: 5px;
}

.address{
  align-self: center;
  margin: 30px 10px;
  border-radius: 15px;
}

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-indent: 0;
  font-size: 1.5rem;
}

.formulario form textarea, input, button{
  font-size: 1.2rem;
  margin: 3px;
}

.formulario form{
  width: 80%;
  padding: 1px;
}

.formulario form input[type="text"], input[type="email"]{
  width: 100%;
}

.formulario p{
  font-size: 1rem;
  margin: 1px 0 1px;
}

#msg{
  width: 100%;
  resize: none;
}

.buttons{
  margin-bottom: 10px;
}

.hyphenate {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.subtitle{
  color: #0933aa;
  text-align: center;
  text-indent: 0;
}

@media(max-width: 600px){
  .container{
    flex-direction: column;
  }

  .menu{
    min-height: auto;
  }

  header{
    font-size: 1rem;
  }

  .address{
    width: 100%;
  }
}